*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

header {
  display: flex;
  background-image: url(../assets/desktop/image-hero.jpg);
  background-size: cover;
  width: 100vw;
  height: 500px;
}

.container {
  display: flex;
  width: 80%;
  height: 300px;
  justify-content: space-between;
  margin: 20px 150px;
}

.navbar {
  display: flex;
  
}

.navbar li{
  list-style: none;
  margin-right: 10px;
}

.navbar li a {
  text-decoration: none;
  color: white;
  font-family: sans-serif;
}